<h1>Information on <%= @plane.name %></h1>

<p>
<%= @plane.description %>
</p>

<%= link_to "Edit Information about #{@plane.name}", edit_story_plane_path(@story) %>
<br>
<%= link_to "Notable Locations Within #{@plane.name}", plane_continents_path(@plane)%>
