<header>
  <h1 class="header-title">LoreKeeper</h1>
  <div class="header-content">
    <p>Welcome to Lorekeeper. A DM's best friend!
    Please select the story you wish to enter!</p>
  </div>
</header>

<article class="main-content">
  <h3>Login goes here</h3>
</article>
