// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//General layout
.section {
  background-color: $off-white;
  border-radius: 2em;


  h1 {
    font-size: 4.5em;
    text-align: center;
  }
}

//Form Design

.form-container {
  text-align:  center;
  padding-bottom: 20px;
}

.field {

  label {

  }
}
